/* From Uiverse.io by zjssun */ 
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #227c9d;
  transition: all 0.2s ease;
  text-decoration: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
}

.button:hover {color: #fff;}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #227c9d 20%, transparent 30%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #227c9d 15%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #227c9d 15%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%),
    radial-gradient(circle, #227c9d 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  display:inline;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding:11px 22px;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(34, 124, 157, 1) 0%,
    rgb(35, 142, 180) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 6px;
  text-decoration: none;
}

.cssbuttons-io-button:hover{color: #fff;}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

.top-text{overflow: hidden;}
.top-text .text{
    position: relative;
    color: #227c9d;
    font-weight: 600;
}
.top-text .text.first-text{
    color: #343a40;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 2px solid #227c9d;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
